@model ML.Materia

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Agregar Materia</h1>

        </div>
    </div>

    <div>
        <i class="bi bi-trash3-fill"></i>
    </div>

    @using (Html.BeginForm("Form", "Materia", FormMethod.Post))
    {
        <div class="row">
            <div class="col-6">
                @Html.LabelFor(model => model.IdMateria, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.IdMateria, new { @class = "form-control" })
            </div>

            <div>
                @Html.LabelFor(model => model.Nombre, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                @Html.LabelFor(model => model.Descripcion, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control" })
            </div>

            <div>
                @Html.LabelFor(model => model.Creditos, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Creditos, new { @class = "form-control" })
            </div>

            <div>
                @Html.LabelFor(model => model.Semestre.IdSemestre, new { @class = "form-label" })
                @Html.DropDownListFor(model=> model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Descripcion"), "Selecciona un Semestre", new {@class="form-control"})


                @Html.DropDownListFor(model => model.Semestre.IdSemestre , new SelectList(String.Empty), "Selecciona una opcion", new {@class="form-control"})
            </div>
            
        </div>

        <div class="row">
            <div class="col-12">
                <input type="file" name="name" value="" accept="image/*" onchange="CargarArchivo(event)" />
                <img alt="Alternate Text" id="imgInput" style="width:100px" />
            </div>
        </div>

        <div>
            <button class="btn btn-success" type="submit">Guardar</button>
        </div>
    }
</div>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script>
    var CargarArchivo = function (input) {
        
        var img = input.target.files[0];
        
        if (!validar(img.name)) {
            return 0;
        }

        var reader = new FileReader()
        reader.onload = function () {

            var output = $('#imgInput')[0]
            //console.log(output)

            //var outputJS = document.getElementById('imgInput')
            //console.log(outputJS)
            output.src = reader.result
        }
        reader.readAsDataURL(img)
    }

    function validar(imgName) {
        
        let extensions = ["png", "jpg", "jpeg"];
       
        if (imgName == null) {
            alert("No se subio archivo");
            return false;
        }

        let imgExtension = imgName.split('.').pop().toLowerCase();

        if (!extensions.includes(imgExtension)) {
            alert("No es una extensión valida");
            return false;
        }
       
        return true;
    }


</script>

