@model ML.Materia
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Get All Materias</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h1 class="text-start">Agregar una materia</h1>
        </div>
        <div class="col-6 text-end">
            <a href="@Url.Action("Form", "Materia", new {IdMateria = 0})" class="btn btn-success"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>


    <hr />

    <div class="row">
        <div class="col-12">

            <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td>Eliminar</td>
                        <td>Actualizar</td>
                        <td>IdMateria</td>
                        <td>Nombre</td>
                        <td>Descripcion</td>
                        <td>Creditos</td>
                        <td>Semestre</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Materia materia in Model.Materias)
                    {
                        <tr>
                            <td>
                            <a href="@Url.Action("Delete","Materia", new { IdMateria = materia.IdMateria } )" class="btn btn-danger" onclick="return confirm('Realmente deseas eliminar la matera')">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Form", "Materia", new { IdMateria = materia.IdMateria })" class="btn btn-warning">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td>@materia.IdMateria</td>
                            <td>@materia.Nombre</td>
                            <td>@materia.Descripcion</td>
                            <td>@materia.Creditos</td>
                            <td>@materia.Semestre.Nombre</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


