@model ML.Materia
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("Modal")

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Get All Materias</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h1 class="text-start">Agregar una materia</h1>
        </div>
        <div class="col-6 text-end">
            <a href="@Url.Action("Form", "Materia")" class="btn btn-success"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>

    <hr />

    @using (Html.BeginForm("GetAll", "Materia", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>Busqueda Abierta</div>
        <div class="row">
            <div class="col-3">
                @Html.TextBoxFor(model => model.Nombre)
            </div>
            <div class="col-3">
                @Html.DropDownListFor(model => model.Semestre.IdSemestre,
               new SelectList(string.Empty, "IdSemestre", "Descripcion"),
               "Selecciona un semestre", new { @class = "form-control" })
            </div>
        </div><div class="row">
            <div class="col-12">
                <button class="btn btn-success" type="submit">Buscar</button>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">

                    <div>Carga Masiva</div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label>Txt</label>
                    <input type="radio" name="tipoArchivo" value="txt" />

                    <label>Excel</label>
                    <input type="radio" name="tipoArchivo" value="excel" />
                </div>

                <div class="col-6">
                    <input type="file" name="inptArchivo" value="" />

                </div>

            </div>


            <button class="btn btn-warning">Validar</button>


            @if (Session["Errores"] != null)
            {
                <button class="btn btn-danger">Descargar</button>
            }

            @if (Session["Correctos"] != null)
            {
                <button class="btn btn-success">Cargar</button>
            }
        </div>
    }

    <div class="row mt-4">
        <div class="col-12">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Eliminar</td>
                        <td>Actualizar</td>
                        <td>IdMateria</td>
                        <td>Nombre</td>
                        <td>Fecha</td>
                        <td>Descripcion</td>
                        <td>Creditos</td>
                        <td>Semestre</td>
                        <td>Inagen</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Materia materia in Model.Materias)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Delete","Materia", new { IdMateria = materia.IdMateria } )" class="btn btn-danger" onclick="return confirm('Realmente deseas eliminar la matera')">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Form", "Materia", new { IdMateria = materia.IdMateria })" class="btn btn-warning">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td>@materia.IdMateria</td>
                            <td>@materia.Nombre</td>
                            <td>@materia.Fecha</td>
                            <td>@materia.Descripcion</td>
                            <td>@materia.Creditos</td>
                            <td>@materia.Semestre.Nombre</td>
                            @if (materia.Imagen != null)
                            {
                                <td>
                                    <img src="data:image/*;base64,@Convert.ToBase64String(@materia.Imagen)" width="150" />
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


